* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

div.surround {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}
@media (max-width: 428px) {
  div.surround {
    display: block;
  }
}
@media (max-width: 428px) {
  div.surround div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
div.surround div.container nav ul.top-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
div.surround div.container nav ul.top-menu li {
  margin-right: 32px;
}

main {
  width: 100%;
  height: 2000px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  color: #363636;
}
main h1 {
  width: 0%;
}

div.container {
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  left: 0px;
  top: 0px; /* Neutral/White */
  background: #ffffff;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
div.container ul.top-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

div.banner {
  left: 0px;
  top: 64px;
  background-image: url(../images/banner/banner-bg.png);
  display: flex;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 80px;
}
@media (max-width: 428px) {
  div.banner {
    display: none;
  }
}
div.banner div.banner-middle {
  padding-top: 150px;
}

div.bannerMobile {
  display: none;
}
@media (max-width: 428px) {
  div.bannerMobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 428px) {
  div.bannerMobile {
    display: block;
  }
}
div.bannerMobile div.bannerMobilePic2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 30px 10px;
  background: url(../images/banner/banner-bg.png);
}

div.aboutRocket {
  background-color: #e6ebff;
  height: 712px;
  left: 0px;
  top: 799px;
  padding: 50px 0px 0px 70px;
  display: flex;
  border-radius: 40px;
  margin-top: -22px;
}
@media (max-width: 428px) {
  div.aboutRocket {
    display: none;
  }
}
div.aboutRocket ::-webkit-scrollbar {
  display: none;
}
div.aboutRocket div.aboutRocketLeft {
  margin-right: 100px;
}
div.aboutRocket p.AboutRocket {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  letter-spacing: 0.02em;
  /* Neutral/Nuetral 700 */
  color: #363636;
}
div.aboutRocket p.whatIsRocket {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  /* identical to box height, or 72px */
  letter-spacing: 0.02em;
  /* Neutral/Nuetral 700 */
  color: #363636;
}
div.aboutRocket p {
  line-height: 150%;
}
div.aboutRocket p.p1 {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 500;
}
div.aboutRocket p.p2 {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 500;
}
div.aboutRocket div.aboutPhoto {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 10px 0px;
  height: 600px;
  overflow-y: auto;
}
div.aboutRocket div.aboutPhoto img.img2 {
  padding: 30px 0px 30px 0px;
}

div.aboutRocketMobile {
  display: none;
  background-color: #e6ebff;
  border-radius: 25px;
  padding-top: 20px;
}
@media (max-width: 428px) {
  div.aboutRocketMobile {
    display: block;
  }
}
div.aboutRocketMobile div.aboutRocketMobileContent {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 36px 52px;
}
div.aboutRocketMobile div.aboutRocketMobileContent div.whatIs {
  width: 520px;
  width: 100%;
  margin-bottom: 24px;
}
div.aboutRocketMobile div.aboutRocketMobileContent div.whatIs p.whatIsEn {
  font-size: 20px;
  font-size: 16px;
  padding-bottom: 10px;
}
div.aboutRocketMobile div.aboutRocketMobileContent div.whatIs h2.whatIsCh {
  font-size: 35px;
  vertical-align: middle;
  padding-bottom: 30px;
}
div.aboutRocketMobile div.aboutRocketMobileContent div.whatIs p.description {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 30px;
}
div.aboutRocketMobile div.aboutRocketMobileContent div img {
  padding-bottom: 15px;
}

div.success {
  margin-bottom: 80px;
  width: 100%;
}
div.success div.successText {
  padding-top: 100px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Heading/desktop/H2 */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  text-align: center;
  letter-spacing: 0.02em;
  /* Neutral/Nuetral 700 */
  color: #363636;
}
div.success div.photos8pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.success div.photos8pic img {
  padding: 20px 0px 20px 50px;
}

div.aboutClass {
  background-color: #f8f9fd;
  height: 2500px;
}
@media (max-width: 428px) {
  div.aboutClass {
    display: none;
  }
}
div.aboutClass div.aboutClassText {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  text-align: center;
  letter-spacing: 0.02em;
  /* Neutral/Nuetral 700 */
  color: #363636;
}
div.aboutClass div.aboutClassDate {
  height: 58px;
  background: #ffffff;
  box-shadow: 0px 2px 4px #e8e8e8;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.aboutClass div.aboutClassDate p.aboutClassDateText {
  text-align: center;
}

div.aboutClass3pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div.aboutClass3pic img {
  padding-top: 70px;
}

div.aboutClassMobile {
  display: none;
}
@media (max-width: 428px) {
  div.aboutClassMobile {
    display: block;
  }
}
div.aboutClassMobile div.organizerMobilePic {
  background-color: #e0e0e0;
}
div.aboutClassMobile div.coach {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #f8f9fd;
}
div.aboutClassMobile div.coach img {
  padding: 0px 10px 0px 10px;
}
div.aboutClassMobile div.intro {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f8f9fd;
}
div.aboutClassMobile div.GoPic img {
  padding-left: 50px;
  padding-top: 20px;
}
div.aboutClassMobile div.container {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -28px;
  width: 100%;
  background-color: #f8f9fd;
  font-size: 16px;
  padding-left: 48px;
  padding-right: 48px;
}
div.aboutClassMobile h3 {
  font-size: 36px;
  padding-bottom: 20px;
}
div.aboutClassMobile div.classFeeTextMob {
  color: #363636;
  padding: 20px 0px 20px 30px;
}
div.aboutClassMobile div.classFeeTextMob h3 {
  padding-top: 30px;
}
div.aboutClassMobile div.classFeeTextMob div.classPic3 div img {
  padding-bottom: 20px;
}

div.coachText {
  /* Heading/desktop/H3 */
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  letter-spacing: 0.02em;
  /* Neutral/Nuetral 700 */
  color: #363636;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 60px 0px 40px 330px;
}

div.coach {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
div.coach img {
  padding: 0px 10px 0px 10px;
}

div.intro {
  padding-left: 300px;
}
div.intro div.introText {
  padding-bottom: 20px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
  letter-spacing: 0.02em;
  /* Neutral/Nuetral 700 */
  color: #363636;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.intro ul {
  padding-left: 15px;
}
div.intro ul li {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  /* or 28px */
  letter-spacing: 0.02em;
  /* Neutral/Nuetral 700 */
  color: #363636;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.intro ul li a {
  color: black;
}
div.intro ul li a.president {
  color: black;
}
div.intro div.click {
  padding-top: 80px;
}
div.intro div.classfee {
  padding-top: 80px;
}
div.intro div.classProcess {
  padding-top: 80px;
  padding-bottom: 100px;
}

div.organizer {
  height: 382px;
  left: 0px;
  /* Neutral/Neutral 200 */
  background: #f0f0f0;
}
div.organizer p.organizerText {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  letter-spacing: 0.02em;
  /* Neutral/Nuetral 700 */
  color: #363636;
  padding-left: 72px;
  padding-bottom: 50px;
}
div.organizer div.organizerPic7 {
  padding-left: 100px;
  display: flex;
  padding-bottom: 100px;
}
div.organizer div.organizerPic7 img {
  padding-left: 15px;
}

div.footer p.footerText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}/*# sourceMappingURL=style2.css.map */